<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CadenaConexion"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=UCEMA;Integrated Security=True"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>